.spacer {
	margin-top: 20px;
}

.m-avatar {
	float:left;
	border-radius: 100px;
	margin-right: 20px;
	width: 60px;
}

.details {
	float:left;
}

.connected {
	color: #000;
	font-size: 16px;
	font-weight:bold;
	margin-bottom: 10px;
}

.disconnected {
	color: #FF0000;
	font-size: 16px;
	text-align: center;
	width: 100%;
}

.account {
	border: 1px solid #000;
	padding: 15px;
	border-radius:4px;
	float:left;
  	margin: 0 0 1em;
	min-width: 300px;
}

label {
	display:inline-block;
	vertical-align: bottom;
	text-align:center;
}

.pixelfed {
	background: url('assets/img/pixelfed.svg') no-repeat 0 0;
	background-size: 30px;
	border: none;
	border-radius: 50%;
	color: transparent;
	display: inline-block;
	height: 32px;
	width: 36px;
	vertical-align: middle;
}

.account span.pixelfed {
    float: left;
    margin-left: -41px;
    background-size: 30px;
    margin-top: 41px;
}

.mastodon {
	background: url('assets/img/mastodon.svg') no-repeat 1px 4px;
	background-size: 28px;
	border: none;
	color: transparent;
	display: inline-block;
	height: 36px;
	width: 36px;
	vertical-align: middle;
}

.account span.mastodon {
    float: left;
    margin-left: -41px;
    background-size: 30px;
    margin-top: 41px;
}

.peertube {
	background: url('assets/img/peertube.svg') no-repeat 7px 4px;
	background-size: 24px;
	border: none;
	color: transparent;
	display: inline-block;
	height: 36px;
	width: 36px;
	vertical-align: middle;
}

.instance_url {
	max-width: 500px;
}

.instance_type.widefat {
	max-width: 160px;
	vertical-align: baseline;
}

.settings_page_fediembedi details {
	margin: 1em 0;
}
.settings_page_fediembedi details > summary {
	background: #ccc;
	display: inline-block;
	padding: 0.25em;
	border-radius: 0.25em;
	cursor: pointer;
}
.settings_page_fediembedi details > summary::before {
	content: '\25B6';
	margin-right: 0.25em;
}
.settings_page_fediembedi details[open] > summary::before {
	content: '\25BC';
}
