/* .scrollable {
    contain: strict;
} */
.scrollable {
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1 1 auto;
    -webkit-overflow-scrolling: touch;
    will-change: transform;
    background-color: #fff;
}

/**
 * Pixelfed Styles
 */
.embed-card a {
  text-decoration: none;
}
a.card{
  border: none;
}
.card img {
  max-width: none;
  display: inline;
}

.info-overlay {
    position: relative;
}

.info-overlay-text {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}

.info-overlay .info-overlay-text {
    display: none;
    position: absolute;
}

.info-overlay:hover .info-overlay-text {
    display: -webkit-box;
    display: flex;
}

.square {
    position: relative;
    width: 100%;
}
.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.square-content {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.embed-card .pixelfed-follow {
  font-size: 14px;
  color: #fff;
}
